:root {
    --color__black:                  #000000;
    --color__white:                  #FFFFFF;
    --color__dark_purple:            #2E093D;
    --color__purple:                 #3E1350;
    --color__red_poly:               #F90D5D;
    --color__licorice:               #20071F;
    --color__blue:                   #357FFF;
    --color__silver:                 #7F8091;
    --color__ash_white:              #F6F6F6;
    --color__text_heading:           #F6F6F6;

    // Font Family
    --font-tt_octosquares : 'TTOctosquares';
    --font-tt_octosquares_cond_db : 'TTOctosquaresCond-DBold';
    --font-tt_octosquares_cond_xb : 'TTOctosquaresCond-XBold';
    --font-tt_octosquares_exp_xb : 'TTOctosquaresExp-XBold';

    // Font sizes
    --base__font-size: 16px;
    --heading__one: 48px;
    --heading__two: 36px;
    --heading__three: 32px;
    --heading__four: 24px;
    --heading__five: 20px;
    --heading__six: 16px;
    
    // line Height
    --font__line-height-body: 1.6;
    --font__line-height-heading: 1.25;
    --font__line-height-paragraph: 1.87;
}    

