/*--------------------------------------------------------------
    [ ## Custom Container ]
--------------------------------------------------------------*/
.container {
    @include sm-devices {
        max-width: 570px;
    }
    @include md-devices {
        max-width: 740px;
    }
    @include lg-devices {
        max-width: 980px;
    }
    @include xl-devices {
        max-width: 1200px;
    }
}

/*--------------------------------------------------------------
    [ ## Header ]
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
    [ ## Hero Styles]
--------------------------------------------------------------*/
// @import "hero/hero";

/*--------------------------------------------------------------
    [ ## Page Banner]
--------------------------------------------------------------*/
@import "page-banner";


/*--------------------------------------------------------------
    [ ## Footer ]
--------------------------------------------------------------*/
@import "footer";
